<!DOCTYPE html>
<html>
  <head>
    <title>OdinBeavers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="messages">
      <% flash.each do |type, msg| %>
        <div>
          <%= msg %>
        </div>
      <% end %>
    </div>

    <div id="nav_links">
      <%= link_to root_path do %>
        <h2>Home</h2>
      <% end %>
      <%= link_to new_beaver_path do %>
        <h2>Add a Beaver!</h2>
      <% end %>
    </div>

    <div id="beaver_lake">
      <%= yield %>
    </div>
  </body>
</html>
